form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 2px solid #7700ff;
}

label {
  display: flex;
  min-width: 100px;
}